@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

body {
  margin: 0;
  background-color: #f6f9ff;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
